<div class="mx-1">
    <div>
        <h2 class=" mr-2 mt-2 text-center">Pokedutros</h2>
        <hr class="divider mb-2" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col" *ngFor="let produto of produtos">
                <app-produto [dadoProduto]="produto" (onCarrinho)="addCarrinho($event)">
                    <p *ngIf="produtoNoCarrinho(produto)" class="text-muted">
                        *Produto no carrinho
                    </p>
                </app-produto>
            </div>
        </div>
    </div>
</div>
