<div class="container">
    <ng-template #brunaGit> Meu Github: <a [href]="bruna">{{bruna}}</a></ng-template>
    <button type="button" class="btn btn-outline-secondary me-2" placement="top" [ngbPopover]="brunaGit"
      popoverTitle="Github">
      Bruna Souza
    </button>
  
    <ng-template #brunoGit> Meu Github: <a [href]="bruno">{{bruno}}</a></ng-template>
    <button type="button" class="btn btn-outline-secondary me-2" placement="end" [ngbPopover]="brunoGit"
      popoverTitle="Github">
      Bruno Gabriel
    </button>
  
    <ng-template #biancaGit> Meu Github: <a [href]="bianca">{{bianca}}</a></ng-template>
    <button type="button" class="btn btn-outline-secondary me-2" placement="bottom" [ngbPopover]="biancaGit"
      popoverTitle="Github">
      Bianca Gonçalves
    </button>
  
    <ng-template #felipeGit> Meu Github: <a [href]="felipe">{{felipeGit}}</a></ng-template>
    <button type="button" class="btn btn-outline-secondary me-2" placement="bottom" [ngbPopover]="felipeGit"
      popoverTitle="Github">
      Felipe Ortiz
    </button>
  
    <ng-template #thiagoGit> Meu Github: <a [href]="thiago">{{thiagoGit}}</a></ng-template>
    <button type="button" class="btn btn-outline-secondary me-2" placement="start"  [ngbPopover]="thiagoGit"
      popoverTitle="Github">
      Thiago Innwinkl
    </button>
  </div>

  