<div class="navbar justify-content-center">
    <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="''" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/produtos'">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/login'">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/cadastro'">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/servicos'">Serviços</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/contato'">Contatos</a>
        </li>
      </ul>
</div>