

* {
    padding: 0;
    
}


.cat {
    height: 300px;
    width: 300px;
}

.imagem-banner {
    display: flex;
    position: static;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-deck{
    display: flex;
    flex-flow: row wrap;
}

a {
    text-decoration: none;
    color: black;
}

.col-3 {
    padding: 1%;
    display: flex;
}

.container-fluid{
    display:  block;
}

@media (max-width: 897px){
    .card{
        margin: auto;
    }
    .col-3{
        flex:0 0 auto;
        width: 50%;
    }

}

